@font-face {
	font-family: "Segoe Print";
	src: url(шрифты/segoepr.ttf);
}
body {
	margin: -1rem;
}
.krai {
	position: absolute;
	right: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 30px;
	background-color: #454742;
}
.author {
	position: absolute;
	left: 30px;
	top: 8px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #A1A1A1;
}
.cont {
	border-radius: 20px;
}
.tx {
	font-family: "Segoe Print";
}
.img1 {
	width: 196px;
	height: 196px;
	background-image: url(фотки/лиза1.jpg);
	position: absolute;
	top: 101px;
	left: 105px;
	border-radius: 15px;
	border: #000 1px solid;
	background-size: 100% 100%;
}
.img2 {
	width: 196px;
	height: 196px;
	background-image: url(фотки/я.jpg);
	position: absolute;
	top: 335px;
	left: 105px;
	border: #000 1px solid;
	border-radius: 15px;
	background-size: 100% 100%;
}
.img3 {
	width: 90px;
	height: 90px;
	background-image: url(фотки/кот1.jpg);
	position: absolute;
	filter: saturate(75%);
	top: 553px;
	left: 270px;
	border-radius: 90px;
	border: #000 1px solid;
	background-size: 100% 100%;
}
.img4 {
	width: 80px;
	height: 80px;
	background-image: url(фотки/кот3.jpg);
	position: absolute;
	top: 80px;
	left: 1px;
	border-radius: 90px;
	border: #000 1px solid;
	background-size: 100% 100%;
}
.img5 {
	width: 90px;
	height: 108px;
	background-image: url(фотки/кот2.jpg);
	position: absolute;
	top: 348px;
	left: 1px;
	border-radius: 90px;
	border: #000 1px solid;
	background-size: 100% 100%;
}
.img6 {
	width: 78px;
	height: 78px;
	background-image: url(фотки/кот4.jpg);
	position: absolute;
	top: 806px;
	left: 1px;
	border-radius: 90px;
	border: #000 1px solid;
	background-size: 100% 100%;
}
.img7 {
	width: 150px;
	height: 91.46px;
	background-image: url(фотки/кот5.png);
	position: absolute;
	top: 1152px;
	left: 174px;
	border-radius: 90px;
	border: #000 1px solid;
	background-size: 100% 100%;
}
p {
	margin-top: 0;
}
.img8 {
	width: 170px;
	height: 120px;
	background-image: url(фотки/кот6.jpg);
	position: absolute;
	top: 1583px;
	left: 180px;
	background-size: 100% 100%;
}